@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Righteous', cursive;
}

.title {
    padding: 1.2rem;
    font-size: 6rem;
    margin: 0.8rem;
    text-align: center;
}

.subtitle {
    padding: 0.8rem;
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 100vh;
}

.contenedor-tarjetas {
    display: flex;
    gap: 1rem;
}

.tarjeta-de-mokepon {
    width: 20rem;
    height: 10rem;
    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
}
input {
    display: none;
}
input:hover + label {
    color: olivedrab;

}
input:checked + label {
    background-color: rgb(186, 217, 186);
    color: black;
}
.tarjeta-de-mokepon img {
    width: 8rem;
}


#btn-seleccionar-mascota {
    margin: 3.2rem;
    width: 20rem;
    height: 6.4rem;
    background-color: transparent;
    font-family: 'Righteous', cursive;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
}
#boton-mascota:hover {
    background-color: olivedrab;
    box-shadow: 1px 2px;
}
#boton-mascota:active {
    background-color: green;
}

.btn-move-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 60vw;
    margin: 1.6rem;
}
.btn-move-up__container {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.btn-move-sides__container {
    display: flex;
    justify-content: space-evenly;
}

.btn-move-mokepon {
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
    font-weight: lighter;
    width: 6.4rem;
    height: 3.2rem;
    background-color: black;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-color: transparent;
    box-shadow: 1px 4px 8px;
    margin: 0 4px;
}


#seleccionar-ataque {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

#mapa-juego {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-msg {
    text-align: center;
    font-size: 1.6rem;
    margin: 4px 0;
}

.contenedor-ataques {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 8px;
}

.btn-ataque {
    font-family: 'Righteous', cursive;
    width: 10rem;
    height: 6rem;
    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-color: transparent;
    box-shadow: 1px 4px 8px;
}


.contenedor-mensajes {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}
.contenedor-mensajes > p {
    margin-block: 0;
    padding: 0.8rem;
    font-size: 2.4rem;
}
.mensajes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.display-score-message > p {
    font-size: 2.6rem;
    text-align: center;
    color: grey;
    margin-block: 0;
} 
.display-attacks {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    text-align: center;
}
.display-attacks-message {
    font-size: 1.8rem;
}
.display-attacks-message p {
    text-align: center;
    margin-block: 0;
    margin: 0.4rem;
    justify-content: space-between;
}

.resultado-secuencia-combate p {
    text-align: center;
    margin-block: 0;
    margin: 0.4rem;
}

#resultado-combate {
    margin: 0.8rem;
    font-size: 3rem;
    text-align: center;
}
#reiniciar {
    margin: 1.2rem;
}
.btn-reiniciar:hover {
    background-color: green;
    color: aliceblue;
}
.btn-reiniciar {
    width: 12rem;
    height: 5.6rem;
    background-color: whitesmoke;
    font-family: 'Righteous', cursive;
    color: black;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px;
}

@media (max-width: 800px) {
    html {
        padding: 0%;
        margin: 0;
        height: fit-content;
    }
    .title {
        margin: 0px;
    }
    .subtitle {
        margin: 0 auto;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
    
    #btn-seleccionar-mascota {
        font-size: 2.8rem;
        text-align: center;
        margin: 1.2rem;
        padding: 0;
        width: 16rem;
    }
    .contenedor-tarjetas {
        flex-direction: column;
        align-items: center;
    }
    
    .tarjeta-de-mokepon {
        width: 180px;
        height: 80px;
        padding: 4px;
    }
    .tarjeta-de-mokepon p {
        font-size: 1.4rem;
    }
    .tarjeta-de-mokepon img {
        width: 70px;
    }
    #seleccionar-ataque {
        height: 100vh;
        padding: 4px 20px;
    }
    .display-score-message p {
        font-size: 28px;
        text-align: center;
        color: grey;
        margin-block: 0;
    } 
    .contenedor-ataques {
        display: flex;
        flex-direction: column;
    }
    .contenedor-ataques button {
        width: 120px;
        height: 60px; 
        margin: 4px;
    }
    .contenedor-mensajes {
        padding: 4px 12px;
    }
    #mensajes p {
        text-align: center;
    }
    .contenedor-mensajes > p {
        margin: 0px;
        text-align: center;
        font-size: 22px;
        
    }
}